# Ignorer l'environnement virtuel Python
python_env/

# Ignorer les fichiers de la bibliothèque libwebp
libwebp/

# Ignorer les fichiers de projet GIMP
*.xcf

# Ignorer le fichier PRIVÉ.md pour maintenir la confidentialité
PRIVÉ.md

# Ignorer toutes les captures d'écran aux formats PNG, WebP et JPG dans tous les sous-dossiers
# Ignorer également les screenshots de largeur 250 pixels
images/screenshots/**/screenshot.*
images/screenshots/**/originaux/
images/screenshots/**/screenshots_250/